body {
            background: rgb(141, 230, 255);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }
        header{
            height: 20px;
            display: flex;
            padding: 20px;
            margin-right: 40px;
            margin-left: 40px;
            margin-top: 15px;
            background: rgb(125, 228, 128);
            border-style:solid;
            border-color:white;
            border-width:5px;
            
        }
        
       ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 25px;
            
        }
        li{
            display: inline-block;
            margin-right: 30px;
        }
        ul.secondnav{
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            margin-left: 20px;
        }
        section{
            background: rgb(141, 230, 255);
            padding: 10px;
        }
        
        section.welcome{
            background: rgb(125, 228, 128);
            padding: 20px;
            margin-right: 40px;
            margin-left: 40px;
            border-style: solid;
            border-width: 4px;
            border-color: white;
        }
        h1.welcome{
            margin: auto;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 2rem;
            text-align: center;

        }
        section.intro{
            background: rgb(125, 228, 128);
            height: 160px;
            border-style: double;
            border-color:white;
            border-width: 10px;
            margin-right: 40px;
            margin-left: 40px;
            display:flex;
            flex-direction: column;
            

        }
        p{
            padding: 5px;
            display: flex;
            text-align: center;
            justify-content: center;
        }
        section.secondnavi{
            background:rgb(125, 228, 128);
            height:40px;
            border-style: solid;
            border-color: white;
            border-bottom: 0cm;
            border-width: 4px;
            margin-right: 40px;
            margin-left: 40px;
            
        }
        section.bottles{
            background: rgb(125, 228, 128);
            border-style: solid;
            border-color: white;
            border-width: 4px;
            border-top:0cm;
            margin-left: 40px;
            margin-right: 40px;
            display: flex;
            flex-direction: row;
            gap: 80px;
            justify-content: center;
            padding-right: 50px;
            padding-left: 50px;
        }
     

        section.contact{
            background: rgb(125, 228, 128);
            padding: 20px;
            margin-right: 40px;
            margin-left: 40px;
            border-style: solid;
            border-width: 5px;
            display: flex;
            flex-direction: row;

        }
        
        
        .links{
            background: rgb(125, 228, 128);
            padding: 5px;
            display: flex;
            margin: auto;
        }

        section.project{
            background:rgb(125, 228, 128);
            margin-right: 40px;
            margin-left: 40px;
            border-style: solid;
            border-width: 4px;
            height: 240px;
        }
        section.site{
            background:rgb(125, 228, 128);
            margin-right: 40px;
            margin-left: 40px;
            border-style: solid;
            border-width: 4px;
            height: 180px;
        }
